@charset "UTF-8";
body{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url('./image/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 220%;
}
header{
    background-color: rgb(167, 167, 167);
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-weight: 900;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 60px;
    text-decoration: none;
    margin: 15px 0px 30px 0px;
}
#fundo{
   position: absolute;
   margin: -5px 0px 0px -20px;
   text-shadow: none;
   display: none;
}
#titulo{
    text-shadow: 1px 1px 3px white;
}
#titulo:hover{
    color: rgba(167, 167, 167);
    text-shadow: none;
}
#titulo:hover>header{
    text-decoration: none;
}
#titulo:hover>#fundo{
    display: inline-block;
}
.atiNav{
    background-color: aliceblue;
    box-shadow: solid 1px black;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    pointer-events: painted;
    color: black;
    text-shadow: 1px 1px 3px white;
}
.desNav{
    background-color: rgb(138, 138, 138);
    box-shadow: solid 1px black;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    pointer-events: none;
    color: black;
    text-shadow: 1px 1px 3px white;
}
main{
    background-color: rgb(247, 212, 151, 60%);
    border-radius: 30px;
    max-width: 1500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    
}
footer{
    background-color: rgb(167, 167, 167);
    border-radius: 20px;
}
#byKanee{
    text-decoration: none;
}
#painel{
    align-items: center;
    text-align: center;
}
.personas{
    display: inline-flex;
    text-align: center;
    align-items: center;
}
.persona1, .persona2, .persona3, .persona4, .persona5, .persona6, .persona7, .persona8, .persona9, .persona10, .persona11, .persona12, .persona13, .persona14, .persona15, .persona16, .persona17, .persona18, .persona19, .persona20, .persona21, .persona22, .persona23, .persona24, .persona25{
    display: inline-flex;
    text-align: center;
    align-items: center;
}
.nameChar{
    display: inline-flex;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    align-items: center;
}
.botao{
    color: black;
    background-color: rgb(238, 224, 180);
    border-radius: 10px;
    font-size: 20px;
}